-r requirements-pkg.txt
black==24.10.0
coverage==7.6.10
chispa==0.11.1
delta-spark==3.3.0
grpcio==1.70.0
grpcio-status==1.70.0
Jinja2==3.1.6
jupyterlab==4.4.3
mike==2.1.3
mkdocs-git-committers-plugin-2==2.5.0
mkdocs-include-markdown-plugin==7.1.5
mkdocs==1.6.1
mkdocs-dracula-theme==1.0.7
mkdocs-jupyter==0.25.1
mkdocs-material==9.6.14
mkdocstrings[python]==0.29.1
mlflow==2.20.1
networkx==3.2.1
numpy==1.23.5
pandas==2.3.0
pyspark[sql,pandas_on_spark]==3.5.7
pytest==8.3.4
pytest-cov==6.0.0
pytest-mock==3.14.0
pytest-xdist==3.6.1
requests==2.32.4
ruff==0.9.3
seaborn==0.13.2
sparkleframe>=0.2
tabulate==0.9.0
twine==6.1.0
