.suggestionsClass {
    padding: 10px;

    background-color: white;
    border: 1px solid #ced4da;
}

.suggestionsClass > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.accordion-item {
    border: none;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    font-weight: bold;
}

.offcanvas.node {
    --bs-offcanvas-width: 500px !important;
}

.offcanvas-header.node {
    display: block;
}

.modal-90w {
    max-width: 60%;
}



.pointer {
    cursor: pointer;
}

.search-hide {
    left: -410px;
}

.search-show {
    left: 0px;
}

.search-toggle-button {
    z-index: 1;
    left: 410px;
}

.search-result{
    z-index: 2;
    background-color: white;
    border: 1px solid #ced4da;    
}

.list-group-flypipe{
    height: calc(100vh - 100px);
}

.search {
    
    max-width: 400px;
    min-width: 400px;
    
}

.btn-outline-secondary.flypipe{
    --bs-btn-bg: white;
    --bs-btn-hover-bg: #f1f1f1;
    --bs-btn-border-color: #ced4da;
    
    --bs-btn-hover-border-color: #6c757d;
    --bs-btn-hover-color: #6c757d;
}

.btn-light.flypipe{
    background-color: white;
    --bs-btn-active-bg: white;
    --bs-btn-hover-bg: white
}

.no-border{
    border: none
}

.page-link.flypipe{
    border: none
}

