name: verification

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Allow pipeline to be invoked from other pipelines
  workflow_call:

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 5

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # Fetch all tags/branches to run diff-cover properly
          fetch-depth: 0
      - name: Setup dependencies
        uses: ./.github/actions/setup-dependencies
      - name: Run formatter (black)
        run: black flypipe --check
      - name: Run linter (pylint)
        run: python -m pylint flypipe
      - name: Run unit tests
        run: coverage run --source=flypipe -m pytest flypipe
      - name: Check total unit test coverage >= 80%
        run: coverage report --fail-under=80
      - name: Check branch unit test coverage >= 80%
        run: |
          coverage xml
          diff-cover coverage.xml --fail-under=80

